<h1>Players</h1>
<p><%= link_to "Add player", new_player_path %></p>

<ul>
  <% @players.each do |player| %>
    <li>
      <%= player.name %>
      <%= button_to "Remove", player_path(player), method: :delete, onclick: "return confirm('Remove this player?');" %>
    </li>
  <% end %>
</ul>

<% if @players.empty? %>
  <p>No players yet.</p>
<% end %>